body {
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card {
  width: 300px; /* Adjust as needed */
  height: 168.75px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  border: 3px solid #c3c6ce;
  transition: 0.5s ease-out;
  margin: 0;
  padding: 0;
}

.card-button {
  transform: translate(0%, 125%);
  width: 40%;
  border-radius: 0rem 1rem 1rem 0rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card-button2 {
  transform: translate(0%, 125%);
  width: 40%;
  border-radius: 1rem 0px 0px 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  right: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button,
.card:hover .card-button2 {
  transform: translateY(50%);
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  flex: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  height: 80vh;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

.local-video,
.remote-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0px solid #c3c6ce;
  border-radius: 18px;
}

.name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.message-box{
  flex:1;
}

.chat-window {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-area {
  display: flex;
  width: 100%;
}

input[type="text"] {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #005f73;
}

@media (max-width: 768px) {
  header h1 {
      font-size: 2rem;
  }
  .chat-container {
      padding: 20px 30px;
  }
  input[type="text"], button {
      padding: 12px;
      font-size: 1rem;
  }
}

.message {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.self {
  background: #008CBA;
  color: white;
  align-self: flex-end; /* Align messages to the right */
}

.message.other {
  background: #e0e0e0;
  color: black;
  align-self: flex-start; /* Align messages to the left */
}

 .peerList {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.peer-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.peer-item:last-child {
  border-bottom: none;
}

.peer-item:last-child {
  border-bottom: none;
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
    justify-content: center;
  }

  .card {
    justify-self: center;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust as needed */
  }
}
